<div>
<h1> Todo</h1>
<h1><button id="filter" class= "btn btn-default btn-sm">Show</button>
</h1>
<div id= "entries"> </div>


<div id = "textbox">


<textarea id="new_entry" placeholder="Enter new task" autofocus></textarea>


</div>

</div>


