<div>
<h1>How many task<%= entries.length == 0?'':'s'%>? <%= entries.length %></h1>

<div id= "entries"> </div>

<div id = "textbox">


<textarea id="new_entry" placeholder="Enter new task" autofocus></textarea>


</div>

</div>


