
<div class = "row">
    <div class = "col-lg-6">
      <div class="input-group">
          <span class="input-group-addon" id = "star">&#9733;</span>
          <div class="form-control" id= "label"><%= entry.get('name') %></div>
            <span class="input-group-addon">
            <input type="checkbox" id = "check_delete">
          </span>
      </div>
      <input id="edited_name" placeholder=<%=entry.get('name')%> autofocus hidden>
    </div>
</div>



